<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

   <div class="form-inputs ">
    <%= f.input :title, required: true, label: "Titulo descriptivo"%>
    <%= f.input :date, required: true, label: "Fecha de examen", input_html: {placeholder: Time.now}%>
    <%= f.input :min_score, required: true, label: "Nota minima de aprobacion", input_html: {value: 4} %>
     <%= if params[:course_id].present?
           f.association :course, label: "Curso", selected: params[:course_id], disabled: true
         else
           f.association :course, label: "Curso"
         end
     %>
    <%#= f.input :students, collection: Student.all, input_html: { multiple: true }
    %>
     <%= @course %>
  </div>

  <div class="form-actions form-inline">
    <%= f.button :submit, "Agregar evaluacion", class: 'btn btn-success' %>
    <%= link_to 'Atras', evaluations_path, class: 'btn btn-danger' %>
  </div>


<% end %>
