
<p id="notice"><%= notice %></p>

<h1>Estudiantes Inscriptos</h1>

<h3>Examen <%= evaluation_info(@evaluation) %></h3>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Legajo</th>
    <th>Dni</th>
    <th>Estado</th>
    <th>Nota</th>
    <th>Comentarios</th>
    <th colspan="5">Opciones</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.legajo %></td>
      <td><%= student.dni %></td>


      <td><% if evaluacion(@evaluation, student).status.blank? %>
          <%= "Por calificar" %>
          <% else %>
        <%= evaluacion(@evaluation, student).status %></td>
        <% end %>

      <%= simple_form_for student, url: update_evaluation_student_path(:student_id => student.id) ,:html => { :class => 'form-horizontal' } do |f| %>
        <%= f.error_notification %>

        <%= f.simple_fields_for evaluacion(@evaluation, student)  do |es| %>
          <td><%= es.input :score, hint: "Puntaje de 0 a 10. 0(cero) == Ausente", label: false %></td>
          <td><%= es.input :comment, as: :text, hint: "Cualquier comentario que quiera agregarse", label: false %></td>
          <%#= f.input :course_ids, :as => :hidden, class: 'form-group', :input_html => { disabled:true, :value => params[:course_id]} %>


        <% end %>
        <td class="form-actions form-inline">
          <%= f.submit 'Calificar', class: 'btn btn-warning' %>
        </td>



    <% end %>
  <%end%>

    </tr>
  </tbody>

</table>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Fecha de evaluacion</th>
    <th>Alumnos Inscriptos</th>
    <th>Alumnos Aprobados/Porcentaje</th>
    <th>Alumnos Desaprobados</th>
    <th>Alumnos Ausentes</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @evaluation.date %></td>
    <td><%= inscriptos(@evaluation) %></td>
    <td><%= aprobados(@evaluation) + "/" +  porcentaje_aprobados(@evaluation) +'%' %></td>
    <td><%= desaprobados(@evaluation) %></td>
    <td><%= ausentes(@evaluation) %></td>
  </tr>
  </tbody>
</table>






<div class="btn-group btn-group-sm">
  <%= link_to 'Volver', course_evaluations_path(@evaluation.course), class: 'btn btn-danger' %>
</div>

