<p id="notice"><%= notice %></p>

<h1>Estudiantes Inscriptos</h1>

<h3>Examen <%= evaluation_info(@evaluation) %></h3>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Legajo</th>
    <th>Dni</th>
    <th>Nota</th>
    <th colspan="5">Opciones</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <%= simple_form_for [@evaluation, student], :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.error_notification %>

        <%= f.simple_fields_for student.evaluation_students.first  do |es| %>
          <td><%= es.input :score, label: false %></td>
          <td><%= es.input :comment, label: false %></td>
          <%#= f.input :course_ids, :as => :hidden, class: 'form-group', :input_html => { disabled:true, :value => params[:course_id]} %>


          <td> <div class="form-actions form-inline">
            <%= f.submit 'Calificar', class: 'btn btn-info' %>
          </div><%#= student.evaluation_students.first.score %></td>
        <% end %>


      <% end %>
  </tr>
  </tbody>
</table>

<div class="btn-group btn-group-sm">
  <%= link_to 'Calificar a todos', "", class: 'btn btn-info' %>
  <%= link_to 'Volver', courses_path, class: 'btn btn-danger' %>
</div>
<%end%>