<p id="notice"><%= notice %></p>

<h1>Estudiantes Inscriptos</h1>

<h3>Examen <%= evaluation_info(@evaluation) %></h3>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Legajo</th>
    <th>Dni</th>
    <th>Nota</th>
    <th colspan="5">Opciones</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.legajo %></td>
      <td><%= student.dni %></td>
      <td><%= student.evaluation_students.first.score %></td>
      <td><%= link_to "Calificar" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
        </tr>

  </tbody>
</table>


<div class="btn-group btn-group-sm">
  <%#= link_to 'Calificar', "", class: 'btn btn-info' %>
  <%#= link_to 'Volver', courses_path, class: 'btn btn-danger' %>
</div>