<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Legajo</th>
    <th colspan="5">Opciones</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.legajo %></td>
      <% if params[:evaluation_id].present? && already_inscripted(@evaluation.id, student.id) %>
        <td><%= link_to 'Inscribir', new_evaluation_add_student_path(params[:evaluation_id], student), class: 'glyphicon glyphicon-plus' %></td>
      <% else %>
        <td><%= link_to 'Mostrar', student, class: 'glyphicon glyphicon-zoom-in' %></td>
      <% end %>
      <td><%= link_to 'Editar', edit_student_path(student), class: 'glyphicon glyphicon-pencil'%></td>
      <td><%= link_to 'Eliminar!', student, method: :delete, data: { confirm: '¿Estas seguro?' }, class: 'text text-danger glyphicon glyphicon-trash' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="btn-group btn-group-sm">
  <%= link_to 'Nuevo Estudiante', new_student_path, class: 'btn btn-info' %>
  <%= link_to 'Volver', courses_path, class: 'btn btn-danger' %>
</div>