<p id="notice"><%= notice %></p>

<h1>Materias</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th >Nombre</th>
      <th >Año(plan)</th>
      <th >Descripcion</th>
      <th>Cursos</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.year %></td>
        <td><%= subject.detail %></td>

        <td>
          <table><% subject.courses.each do |course| %>
            <tr>
              <td><%=link_to course.year, course_path(course) %></td>
            </tr>
          <% end %>
            <tr>
              <td><%= link_to '', new_subject_course_path(subject) ,class: 'glyphicon glyphicon-plus'%>
              </td>
            </tr>
        </table></td>



        <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
        <td><%= link_to 'Eliminar', subject, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="text text-danger">
<%= link_to 'Nueva Materia', new_subject_path , class: 'btn btn-primary'%>
</div>