<% content_for :page_title, 'Profesores'%>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Docentes</h1>
  <h3>Bienvenido <%= current_teacher.name %> <%= current_teacher.surname %></h3>
  <table class="table table-hover table-bordered">
    <thead >
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Mail</th>
      <th colspan="3">Opciones</th>
    </tr>
    </thead>

    <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.surname %></td>
        <td><%= teacher.email %></td>
        <td><%= link_to 'Mostrar Informacion', teacher %></td>
        <td><%= link_to 'Editar Informacion', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Cursos Asignados', my_courses_path(teacher) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<br>
<div class="btn-group btn-group-sm">
  <%= link_to 'Nuevo Docente', new_teacher_path, class: 'btn btn-info' %>
</div>
</div>