<p id="notice"><%= notice %></p>
<table class="table table-hover table-bordered">
  <thead >
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Mail</th>
    <th>Nombre Usuario</th>
    <th><%= link_to "Mis cursos", my_courses_path(@teacher) %></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @teacher.name %></td>
    <td><%= @teacher.surname %></td>
    <td><%= @teacher.email %></td>
    <td><%= @teacher.username %></td>
    <td><%= teacher_courses_string %> <%#-helper-%>

    </td>


  </tr>
  </tbody>
</table>
<div class="btn-group btn-group-sm">
<%= link_to 'Editar Informacion', edit_subject_path(@teacher), class: 'btn btn-info' %>
<%= link_to 'Atrás', teachers_path, class: 'btn btn-danger' %>
</div>