<%= simple_form_for(@course, html: {class: 'panel panel-default'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs panel-heading">Crear nuevo curso</div>
  <div class="form-inputs panel-body">

    <%= f.input :year, required: true, label: "Año",input_html:{min: year_ago(1), max: year_coming(2) }%>
    <%= if params[:subject_id].present?
          f.association :subject, label: "Materia", selected: params[:subject_id], disabled: true
        else
          f.association :subject, label: "Materia"
        end
    %>


  </div>
  <div class="form-actions panel-footer">
    <%= f.button :submit, "Crear curso", class: 'btn btn-success' %>
  </div>
<% end %>
