<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>Nombre materia</th>
    <th>Año(Plan Materia)</th>
    <th>Año(Cursada)</th>
    <th colspan="6">Opciones</th>
  </tr>
  </thead>

  <tbody>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.subject.name %></td>
      <td><%= course.subject.year %></td>
      <td><%= course.year %></td>
      <td><%= link_to "Ver docentes", course_teachers_path(course) %></td>
      <td><%= link_to "Ver alumnos", course_students_path(course) %></td>
      <td><%= link_to "Más", course_path(course), class: 'glyphicon glyphicon-zoom-in' %></td>
      <td><%= link_to 'Editar', edit_course_path(course), class: 'glyphicon glyphicon-pencil'%></td>
      <td><%= link_to 'Eliminar!', course, method: :delete, data: { confirm: '¿Estas seguro?' }, class: 'text text-danger glyphicon glyphicon-trash' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="btn-group btn-group-sm">
  <%= link_to 'Nuevo Curso', new_course_path, class: 'btn btn-info' %>
  <%= link_to 'Volver', subjects_path, class: 'btn btn-danger' %>
</div>

