<p id="notice"><%= notice %></p>
<table class="table table-hover table-bordered">
  <thead >
  <tr>
    <th>Nombre materia</th>
    <th>Año(Plan)</th>
    <th colspan="3">Opciones</th>
  </tr>
  </thead>

  <tbody>

    <td><%= @course.subject.name %></td>
    <td><%= @course.year %></td>


    <td class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Opciones</li>
        <li><%= link_to("Ver Docentes", course_teachers_path(@course)) %></li>
        <li><%= link_to("Ver Alumnos", course_students_path(@course)) %></li>
        <li><%= link_to("Ver Evaluaciones", course_evaluations_path(@course))%></li>
        <li><%= link_to("Agregar Alumnos al curso", new_course_student_path(@course))%></li>
        <li><%= link_to("Agregar Evaluaciones al curso", new_course_evaluation_path(@course))%></li>

    <li class="divider"></li>
        <li>
          <%= link_to 'Editar Curso', edit_course_path(@course) %>
        </li>
        <li>
          <%= link_to 'Eliminar', @course, method: :delete, data: { confirm: '¿Estas seguro?' } %>
        </li>
      </ul>
    </li>

    </td>




    </td>


  </tr>
  </tbody>
</table>
<div class="btn-group btn-group-sm">

  <%= link_to 'Volver', request.referrer %>
</div>




